body{
    background-color: black;
}

nav{
    background-color: black;
}

.width{
    width: 500px;
    height: auto;
}

.color{
    color: #ff6014;
}

.color-bg{
    background-color: #ff6014;
}

.color-border{
    color: #ff6014;
}

.black{
    background-color: black;
}

nav a:hover{
    text-transform: uppercase;
    color: #ffc107 !important;
    text-decoration: underline;
}

a:hover{
    text-transform: uppercase;
    font-weight: bold;
}

.anchor{
    text-decoration: none;
    color: white;
}

.line{
    border-top: 1px solid white;
}

#myVideo{
    width: 100%;
}

.fourth {
    border-color: #f1c40f;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
  }